.no-scrollbar::-webkit-scrollbar {
    display: none;
}
.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #0a0a0a;
}

/* Custom Modal Animation */
#game-modal {
    transition: opacity 0.3s ease;
}

#game-modal.hidden {
    display: none;
    opacity: 0;
}

#game-modal.flex {
    display: flex;
    opacity: 1;
}

iframe {
    background-color: #000;
}
